{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block head %}



    <div class="container">
        <h1>Welcome to V5 Fitness Club</h1>
        <div class="about-section">
            <h2>Our Story</h2>
            <p>Founded in 2010 by fitness enthusiasts with a passion for helping others transform their lives, V5 Fitness Club has since grown into a premier destination for health and fitness in the heart of the city. With years of experience and expertise, our team is dedicated to providing unparalleled service and guidance to our members on their fitness journey.</p>
        </div>

       

{% endblock head %}